@import "../../../styles/variables";

.container{
    background-color: $shadow;
    height: 100vh;
    width: 100%;
    z-index: 999;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    
    .form{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 2rem;
        background-color: #fff;
        min-height: 90%;
        width: 50%;
        border-radius: 10px;
        position: relative;

        .btnExit{
            position: absolute;
            top: 10px;
            right: 10px;
            padding: 0.5rem;
            border-radius: 50px;
            border: none;
            background-color: $red;
        }

        .formControl{
            width: 80%;
            height: 2.4rem;

            &:disabled{
                cursor: not-allowed;
            }
        }

        .description{
            resize: none;
            width: 80%;
            height: 8rem;
        }

        .formControl, .description{
            padding: 1rem;
            outline: none;

            &:focus{
                border: 1px solid $primary;
            }
        }

        .btn{
            width: 30%;
            padding: 1rem;
        }
    }
}