@import "../../../styles/variables";
@import "../../../styles/mixins";

.form {
    @include margins;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1rem;
    font-size: 1.2rem;
    padding: 0.5rem;
    width: 70%;

    .title {
        font-weight: 500;
    }

    input,
    textarea {
        padding: 1rem;
        outline: none;
        &:focus {
            border: 2px solid $primary;
        }
        &::placeholder{
            font-size: 1rem;
        }
    }

    textarea {
        resize: none;
    }

    .btnSend{
        font-size: 1rem;
        width: 40%;
        margin: 0 auto;
        padding: 1rem;
        border: none;
        color: $white;
        font-weight: bold;
        background-color: $green;
        &:hover{
            filter: brightness(0.9);
        }
    }
}

@media screen and (max-width: 960px) {
    .form{
        width: 62%;
        margin-top: 10rem;
    }
}

@media screen and (max-width: 766px){
    .form{
        width: 90%;
    }
}