@keyframes animateCoin {
    from {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    to {
        -webkit-transform: translateY(50px);
        transform: translateY(50px);
    }
}

@keyframes animateCard {
    from {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    to {
        -webkit-transform: translateY(40px);
        transform: translateY(40px);
    }
}

@keyframes animateBitcoin {
    from {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    to {
        -webkit-transform: translateY(30px);
        transform: translateY(30px);
    }
}

@keyframes animateWallet {
    from {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    to {
        -webkit-transform: translateY(20px);
        transform: translateY(20px);
    }
}
