@mixin area-container {
    padding: 1rem;
    height: 14rem;
    box-shadow: 0 0 10px $shadow-light;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    border-radius: 10px;

    @media screen and (max-width: 490px) {
        margin-top: 4rem;
    }
}

@mixin title {
    font-size: 34px;
    font-weight: bold;
    letter-spacing: 2px;
}

@mixin icon {
    width: 80px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

@mixin operations {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    width: 60%;
    margin: 8rem 20rem;

    @media screen and (max-width: 920px) {
        flex-wrap: wrap;
    }
    @media screen and (max-width: 768px) {
        margin: 8rem auto;
    }

    @media screen and (max-width: 618px) {
        gap: 0;
    }
}

@mixin buttonOperation {
    background: none;
    border: none;
    cursor: pointer;
    margin: 0.4rem;

    &:hover {
        filter: brightness(0.8);
    }
}

@mixin margins {
    @media screen and(max-width:890px){
        font-size: 1rem;
        width: 64%;
    }
    @media screen and (max-width: 768px) {
        width: 100%;
        margin: 14rem auto;
        font-size: 1rem;
    }
    @media screen and (min-width: 769px) {
        margin: 8rem 18rem;
    }
}
