@mixin area-container {
    width: 31.25rem;
    height: 12.75rem;
    box-shadow: 0 0 10px $shadow-light;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    border-radius: 10px;
}

@mixin title {
    font-size: 34px;
    font-weight: bold;
    letter-spacing: 2px;
}

@mixin icon {
    width: 80px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}
