$black: #000000;
$white: #FFFFFF;
$white-secondary: #E5E5E5;
$white-tertiary: #FFFFF0;

$gray: #D1D1D1;
$gray-secondary: #AFAFAF;
$gray-tertiary: #DADADA;
$border-loading: #CCCCCC;

$header: #575A88;
$user-area: #575A88;

$success-btn: #3AE374;
$success-btn-hover: #03FD5A;

$blue: #0000FF;
$blue-secondary: #150BD9;

$ciano: #00d8d6;

$primary: #8712E0;
$primary-secondary: #A229FF;
$primary-tertiary: #7218B6;

$shadow: rgba(0, 0, 0, 0.7);
$shadow-menu: rgba(0, 0, 0, 0.9);
$shadow-light: rgba(0, 0, 0, 0.2);

$hover-subtitle: #A9A8A8;

$red: #E80000;
$red-secondary: #FF0000;
$red-hover:#A00E0E;