@import "../../../styles/variables";

.operations{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 8rem;
    gap: 4rem;
    margin: 8rem auto;
    width: 60%;
}